body {
  background-color: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgb(0 0 0 / 15%);
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.tell-c-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.tell-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6a717c;
}

.mail-e-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.mail-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6a717c;
}

.tech-skils-cntainer {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.tech-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.tech-skills-list-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.color-skills {
  color: #dbdddf;
}

.soft-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.soft-skils-list-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-top: 110px;
}

.info-container {
  margin-bottom: 65px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 23px;
}

.name-style {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  color: #000000;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-top: 24px;
  width: 415px;
}

.project-container {
  margin-bottom: 55px;
}

.project-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.dots {
  color: #d3d3d3;
}

.about-me-style {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 10px;
}

.project-item {
  font-weight: 700;
  color: #000000;
  margin-left: 17px;
}

.about-me-style {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 10px;
}

.company-title {
  margin-bottom: 25px;
}

.company-list {
  width: 535px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.style-sheet {
  color: #ff7315;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 5px;
}

.profession-name-style {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.data-style {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #9f9f9f;
}

.company-title {
  margin-bottom: 25px;
}

.company-three {
  margin-bottom: 55px;
}

.education-theme {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.education {
  color: #ff7315;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.professional-education {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
